body {
  margin: 0;
  padding: 0;
  display: block;
  background: #fff;
  font-family: 'Inter', sans-serif;
}

header {
  padding: 0 35px;
  display: flex;
  justify-content: right;
  align-items: right;
  min-width: 375px;
}

h1 {
  font-style: normal;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  color: #172b4d;
  line-height: 44px;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 0.1em;
  margin-left: 27px;
}

span {
  color: #36b37f;
}

.headline {
  background: url(./images/headline-background.svg) no-repeat;
  display: flex;
  flex-direction: column;
  background-size: 112% 112%;
  align-items: center;
  text-align: center;
}

.icons {
  padding: 0;
  display: flex;
  justify-content: center;
  min-width: 375px;
}

ul {
  list-style: none;
}

li {
  margin: 0 8px;
}

.headline p {
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #172b4d;
  font-size: 20px;
  line-height: 28px;
  margin: 1.5em 25px;
}
